{
  // To give you an idea how to override rule options:
  "rules": {
    "strict": 0,
    "quotes": "single",
    "no-comma-dangle": 0,
    "strict": [2, "global"],
    "new-cap": 0
  },
  "env": {
    "node": true
  }
}
