.DS_Store

# ignore node_modules
node_modules/

# ignore log files
npm-debug.log
*.log

# ignore coverage directory
coverage/

# editor stuff
*~

# todo
todo.txt

#ignore files created by browserify and less
app/dist/main.js
app/dist/mainStyle.css

#ignore temporary images file
uploads/temp

# ignore sublime-workspace
nodeAppProject.sublime-workspace

# ignore uploaded images
uploads/
