@import "registerStyle.less";
@import "loginStyle.less";
@import "movieStyle.less";
@import "userDetailsStyle.less";
@import "userNavbarStyle.less";
@import "editStyle.less";
@import "addMovieStyle.less";
@import "userInfoStyle.less";

@baseColor: #EEEEEE;
@defaultMarginTop: 50px;
@defaultMargin: 2%;
@defaultPadding: 1%;
@maxHeight: 100%;

.mainProperties() {
    background-color: @baseColor;
    padding: @defaultPadding;
    border-radius: 5px;
}

.alignCenter() {
  margin-left: 20%;
  width: 60%;
  text-align: center;
  margin-top: 50px;
}

html, body {
  height: 100%;
  padding: 0;
  padding-bottom: 0;
}

body {
  min-height: 100%;
}

.container-fluid {
  padding: 0;
}

.navbar {
    background-color: white;
    margin: 0;
}

#loginWrapper {
    .mainProperties();
    .alignCenter();
}

#registerForm {
    .mainProperties();
    .alignCenter();
}

.modal-dialog {
    background-color: #7e7e7e;
    color: red;
}

#promptForm {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    height: @maxHeight;
    width: 100%;
    display: none;
    background-color: #3e3e3e;
    background-color: rgba(0, 0, 0, 0.6);
    #promptBox {
      position: relative;
      top: 100px;
    }
}

#mainContainer {
    overflow: hidden;
    padding: 1%;
    background: #EBEBEB none repeat scroll 0% 0%;
    margin: 0;
    margin-bottom: 0;
    padding-left: 6%;
    min-height: 100%;
    height: auto;
}
