@import "bootstrap.less";
@import "register.less";
@import "login.less";
@import "movie.less";
@import "userDetails.less";
@import "userNavbar.less";
@import "edit.less";
@import "addMovie.less";
@import "userInfo.less";
@import "confirmRegister.less";
@import "prompt.less";
@import "alert.less";

@baseColor: #EEEEEE;
@defaultMarginTop: 50px;
@defaultMargin: 2%;
@defaultPadding: 1%;
@maxHeight: 100%;

.mainProperties() {
  background-color: @baseColor;
  padding: @defaultPadding;
  border-radius: 5px;
}

.alignCenter() {
  margin-left: 20%;
  width: 60%;
  text-align: center;
  margin-top: 50px;
}

html, body {
  height: 100%;
  padding: 0;
  padding-bottom: 0;
}

body {
  height: 100%;
}

.container-fluid {
  padding: 0;
}

#mainContainer, #allMoviesContainer {
  overflow: hidden;
  padding: 1%;
  background: #EBEBEB none repeat scroll 0% 0%;
  margin: 0;
  margin-bottom: 0;
  padding-top: 2%;
  padding-left: 1%;
  height: auto;
  height: 100%;
}

#allMoviesContainer {
  margin-top: 3%;
}

.row-flex, .row-flex > div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex:1 1 auto;
}

@media screen and (min-width: 992px) {
  .row-flex > div {
    max-width: 32%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .row-flex > div {
    max-width: 48%;
  }
}

.row-flex-wrap {
  -webkit-flex-flow: row wrap;
  align-content: flex-start;
  flex:0;
}

.row-flex > div, .container-flex > div {
  margin: 5px;
}

.container-flex > div > div[class*='col-'],.row-flex > div > div[class*='col-'] {
  width: 100%;
  margin: 5px;
}

.flex-col {
  display: flex;
  display: -webkit-flex;
  flex: 1 100%;
  flex-flow: column nowrap;
}

.flex-grow {
  display: flex;
  -webkit-flex: 2;
  flex: 2;
}
