@import "registerStyle.less";
@import "loginStyle.less";
@import "movieStyle.less";
@import "userDetailsStyle.less";
@import "userNavbarStyle.less";
@import "editStyle.less";

@baseColor: #EEEEEE;
@defaultMarginTop: 50px;
@defaultMargin: 2%;
@defaultPadding: 1%;
@maxHeight: 100%;

html, body {
  height: 100%;
  padding: 0;
}

.container-fluid {
  padding: 0;
}

.mainProperties() {
    background-color: @baseColor;
    padding: @defaultPadding;
    border-radius: 5px;
}

.navbar {
    background-color: @baseColor;
    margin: 0;
}

#loginWrapper {
    .mainProperties();
    margin-top: 50px;
}

#registerForm {
    .mainProperties();
}

.modal-dialog {
    background-color: #7e7e7e;
    color: red;
}

#promptForm {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    height: @maxHeight;
    width: 100%;
    display: none;
    background-color: #3e3e3e;
    background-color: rgba(0, 0, 0, 0.6);
    #promptBox {
      position: relative;
      top: 100px;
    }
}

#mainContainer {
    .mainProperties();
    background-color: #CCC;
    margin: 0;
    padding-left: 15%;
}
