@borderRadius: 5px;

.borderStyle() {
    border-width: 2px;
    border-style: solid;
    border-color: #ccc;
}

.movieTitle {
    .borderStyle();
    border-top-left-radius: @borderRadius;
    border-top-right-radius: @borderRadius;
    margin-bottom: 0;
}

.movieText {
    .borderStyle();
    font-size: 120%;
    .movieId, .addedBy, .created {
        font-weight: bold;
    }
    .movieImage {
        width: 100%;
    }
}

.movieButtons {
    .borderStyle();
    margin: 0;
    border-bottom-right-radius: @borderRadius;
    border-bottom-left-radius: @borderRadius;
    #updateMovie, #deleteMovie {
        margin: 3%;
    }
    #updateMovie {
        margin-right: 0;
    }
    #deleteMovie {
        margin-left: 0;
    }
}
