<div id="mainContainer">
</div>

<div id="addMovieForm"></div>

<div class="row">
  <div class="col-md-4"></div>
  <div id="loginWrapper" class="col-md-4">

  </div>
  <div class="col-md-4"></div>
</div>

<div id="userInfo">
    <div id="userContent"></div>
</div>

<div id="editForm"></div>

<div id="alertForm">
  <div id="alertBox"></div>
</div>

<div id="registerForm">
</div>

