<h1>Login page</h1>

<div>
  <input type="text" id="username" placeholder="username"><br>
  <input type="password" id="password" placeholder="password"><br>
  <div id="responseContainer"></div>
  <button onclick="register()">Register</button>
  <button>Log in</button>
</div>
