<h1>Example App: Home</h1>

<div>
	<input type="text" id="username" placeholder="username"><br>
	<input type="password" id="password" placeholder="password"><br>
	<button>Register</button>
	<button>Log in</button>
</div>