<div id="userInfo" class="navbar">
</div>
<div id="mainContainer" class="row">
</div>

<div id="addMovieForm"></div>

<div class="row">
  <div class="col-md-2"></div>
  <div id="loginWrapper" class="col-md-8">

  </div>
  <div class="col-md-4"></div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div id="registerForm" class="col-md-6">
  </div>
</div>
<div id="editForm"></div>

<div id="userDetailsForm">
</div>

<div id="promptForm">
  <div id="promptBox"></div>
</div>

<div id="alertForm">
  <div id="alertBox"></div>
</div>
