<div id="mainContainer">
  <div id="addMovieWrapper">
     <div id="addMovieTemplate">
        <h1>Add a movie</h1>
        <input id="title" placeholder="Insert movie title here" /><br>
        <input id="link" placeholder="Insert movie link here" /><br>
        <button id="addMovie">Add a movie</button><br><br><br<br><br>
     </div>
  </div>
</div>

<div id="loginWrapper" hidden>
  <h1>Login page</h1>

  <input type="text" id="username" placeholder="username"><br>
  <input type="password" id="password" placeholder="password"><br>
  <button id="register">Register</button>
  <button id="login">Log in</button>
</div>

<div id="userInfo">
    <div id="userContent"></div>
</div>
