<nav id="userInfo" class="navbar navbar-default">
</nav>
<div id="mainContainer" class="row">
</div>

<div id="addMovieForm"></div>

<div id="loginWrapper">
</div>

<div id="registerForm">
</div>
<div id="editForm"></div>

<div id="userInfoForm">
</div>

<div id="userDetailsForm">
</div>

<div id="confirmRegistration">
</div>

<div id="promptForm">
  <div id="promptBox"></div>
</div>

<div id="alertForm">
  <div id="alertBox"></div>
</div>

