<h1>Example App: Home</h1>

<div>
	<input type="text" id="username" placeholder="username"><br>
	<input type="password" id="password" placeholder="password"><br>
	<button onclick="register()">Register</button>
	<button>Log in</button>

	<script>
		function register(){
			//alert(document.getElementById("username").value + " " + document.getElementById("password").value);
			var xhttp = new XMLHttpRequest();
			var credentials = {
				username: document.getElementById('username').value,
				password: document.getElementById("password").value
			};
			xhttp.open("POST", "http://nodeapp-ibakovic.rhcloud.com/users", false);
			xhttp.setRequestHeader("Content-type", "application/json");
			xhttp.send(JSON.stringify(credentials));
			
			alert("Text " + xhttp.responseText);
			/*
			responseObject = JSON.parse(xhttp.responseText);
			alert("Pojedinacni tekst: " + responseObject[0].username);*/
		}
	</script>
</div>