<div id="mainContainer" class="row-height">
</div>

<div id="userDetailsForm">
</div>

<div id="promptForm">
  <div id="promptBox"></div>
</div>

<div id="alertForm">
  <div id="alertBox"></div>
</div>

