<h1>Login page</h1>

<div>
  <input type="text" id="username" placeholder="username"><br>
  <input type="password" id="password" placeholder="password"><br>
  <button id="register">Register</button>
  <button id="login">Log in</button>
  <div id="addMovieWrapper"></div>
  <ul id="responseContainer"><li class="responseListElement"></li></ul>
</div>
