<html>
  <head>
    <title>Nodeapp</title>
    <script src="./javascripts/jasc.js"></script>
	</head>

  <body>    
      <div class="entery">
      	 <h1>{{title}}</h1>
      	  <button onclick="myFunction()">Click me</button>
      	  <div id="demo"></div>
      	  <div id="hello"></div>
      </div>
  </body>

</html>