.registerTitle {
  margin: 2%;
  font-weight: bold;
}
#register,
#cancelRegister {
  margin: 2%;
  margin-left: 0;
  margin-right: 0;
}
.navbar {
  background-color: #EEEEEE;
}
#loginWrapper {
  background-color: #EEEEEE;
  margin-top: 50px;
  margin-bottom: 2%;
  padding: 1%;
  border-radius: 5px;
}
#login {
  width: 100%;
}
#registerForm {
  background-color: #EEEEEE;
  margin-top: 50px;
  margin-bottom: 2%;
  padding: 1%;
  border-radius: 5px;
}
.modal-dialog {
  background-color: #7e7e7e;
  color: red;
}
#promptForm {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  display: none;
  background-color: #3e3e3e;
  background-color: rgba(0, 0, 0, 0.6);
}
#mainContainer {
  background-color: #EEEEEE;
  margin-top: 50px;
  margin-bottom: 2%;
  padding: 1%;
  border-radius: 5px;
  background-color: #FFF;
}
