<div id="addMovieForm">
  <div id="addMovieWrapper" class="text-center">
    <h1 id="addMovieHead">Add a movie</h1>
    <input type="file" id="image" class="form-control" accept="image/*">
    <input id="addTitle" placeholder="Insert movie title here" class="form-control" /><br>
    <input id="addLink" placeholder="Insert movie link here" class="form-control" /><br>
    <input type="submit" id="addMovie" class="btn btn-primary" value="Submit" />
    <button id="cancelAdd" class="btn btn-warning">Cancel</button>
  </div>
</div>
