<div id="addMovieForm">
  <div id="addMovieWrapper" class="text-center">
    <h1 id="addMovieHead">Add a movie</h1>
    <div id="uploadImageContainer">
      <button id="goToUploadImage" class="btn btn-primary">Upload your picture</button>
    </div>
    <input id="addTitle" placeholder="Insert movie title here" class="form-control" /><br>
    <input id="addLink" placeholder="Insert movie link here" class="form-control" /><br>
    <button id="addMovie" class="btn btn-primary">Submit</button>
    <button id="cancelAdd" class="btn btn-warning">Cancel</button><br><br><br<br><br>
  </div>
</div>
