<div id="alertForm">
  <div id="alertBox">
    <div class="modal-dialog">
      <div id="alertTemplate" class="modal-content">
        <div id="alertHeader" class="modal-header">
          <button id="closeAlert" class="promptNo close btn btn-danger">x</button>
          <h3 class="modal-title">{{title}}</h4>
        </div>
        <div id="alertMesssage" class="modal-body">{{message}}</div>
      </div>
    </div>
  </div>
</div>
