<div id="promptForm">
  <div id="promptBox">
    <div class="modal-dialog">
      <div id="promptTemplate" class="modal-content">
        <div id="promptHeader" class="modal-header">
          <button class="promptNo close">x</button>
          <h4 class="modal-title">{{title}}</h4>
        </div>
        <div id="promptMesssage" class="modal-body">{{message}}</div>
        <div class="modal-footer">
          <button class="promptNo btn btn-danger">No</button>
          <button id="promptYes" class="btn btn-success">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>
