<form action="/users/movies/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="image" id="image" class="form-control">
  <button id="uploadImage" class="btn">Submit image</button>
</form>
