<div id="addMovieTemplate">
  <h1>Add a movie</h1>
  <input id="title" placeholder="Insert movie title here" /><br>
  <input id="link" placeholder="Insert movie link here" /><br>
  <button id="addMovie">Add a movie</button><br><br><br<br><br>
</div>
