<div class="modal-dialog">
  <div id="alertTemplate" class="modal-content">
    <div id="alertHeader" class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
    </div>
    <div id="alertMesssage" class="modal-body">{{message}}</div>
  </div>
</div>
