<div class="modal-dialog">
  <div id="alertTemplate" class="modal-content">
    <div id="alertHeader" class="modal-header">
      <button class="alertOk close">x</button>
      <h4 class="modal-title">{{title}}</h4>
    </div>
    <div id="alertMesssage" class="modal-body">{{message}}</div>
    <div class="modal-footer"><button class="alertOk btn btn-success">Ok</button></div>
  </div>
</div>
