<div>
  <h1>Change your movie title</h1>
  <input id="titleUpdate" class="form-control" placeholder="Change your title" />
  <button id="submit" class="btn btn-primary">Submit changes</button>
  <button id="cancel" class="btn btn-warning">Cancel</button>
</div>
