<div class="editMovieContainer text-center">
  <h3>Change your movie title</h3>
  <input id="titleUpdate" class="form-control" placeholder="Change your title" />
  <button id="submit" class="btn btn-primary">Submit changes</button>
  <button id="cancel" class="btn btn-warning">Cancel</button>
</div>
