<button id="getUserInfo">Get your info</button><br>
<input type="password" id="updatePasswordText" placeholder="Your new password" />
<button id="updatePassword">Change your password</button>
<br>
<button id="logout">Logout</button><br><br><br>
<button id="deleteUser">Delete my account</button><br><br>
