<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li id="getUserInfo" class="btn btn-success">Get your info</li>
  </ul>

  <div class="navbar-right">
    <button id="logout" class="btn btn-warning">Logout</button>
  </div>
</div>
