<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4" id="userInfoWrapper">
    <button id="getUserInfo" class="btn btn-success">Get your info</button><br>
    <div id="updatePasswordWrapper">
      <input type="password" id="updatePasswordText" placeholder="Your new password" class="form-control" />
      <button id="updatePassword" class="btn btn-primary">Change your password</button>
    </div>
    <br>
  </div>
</div>

<div class="row">
  <div class="col-md-5"></div>
  <button id="logout" class="btn btn-warning col-md-1">Logout</button>
  <button id="deleteUser" class="btn btn-danger col-md-1">Delete my account</button><br><br>
</div>
