<div>
  <h1 id="loginHead" class="text-center">Movie app</h1>
</div>
<input type="text" id="username" placeholder="username" class="form-control"><br>
<input type="password" id="password" placeholder="password" class="form-control"><br>
<button id="login" class="btn btn-success btn-lg">Log in</button><br><br>
<div>
  Don't have an account? <button id="signUp" class="btn btn-primary">Sign up</button> for free!!<br>
</div>
