<h1 id="loginHead">Movie app</h1>

<input type="text" id="username" placeholder="username" class="form-control"><br>
<input type="password" id="password" placeholder="password" class="form-control"><br>
<button id="login" class="btn btn-success btn-lg">Log in</button><br><br>
<div>
  Don'h have an account? <button id="register" class="btn btn-primary">Sign up</button> for free!!<br>
</div>
