<div class="responseMovie col-md-3">
  <h3 class="movieTitle text-center">{{title}}</h3>
  <div class="movieText text-center">
    Movie ID: <div class="movieId">{{movieId}}</div>
    Added by: <div class="addedBy">{{addedBy}}</div>
  </div>
  <div class="movieButtons text-center">
    <button id="updateMovie" class="btn btn-primary">Edit</button>
    <button id="deleteMovie" class="btn btn-danger">Delete movie</button>
  </div>
</div>
