<li class="responseMovie">
  Title: <div class="movieTitle">{{title}}</div><br>
  Added by: <div class="addedBy">{{addedBy}}</div><br>
  <input class="titleUpdate" placeholder="Change your title" />
  <button class="updateMovie">Change {{title}} title</button><br>
  <button class="deleteMovie">Delete movie</button>
</li><br><br>
