<div class="responseMovie">
  Title: <div class="movieTitle">{{title}}</div><br>
  <div class="movieId" hidden>{{movieId}}</div>
  Added by: <div class="addedBy">{{addedBy}}</div><br>
  <button id="updateMovie" class="btn btn-primary">Edit</button><br>
  <button id="deleteMovie" class="btn btn-danger">Delete movie</button>
</div>
