<div>
  <input id="registerUsername" placeholder="username" type="text" class="form-control">
  <input id="registerPassword" placeholder="password" type="password" class="form-control">
  <button id="register" class="btn btn-info">Register</button>
  <button id="cancelRegister" class="btn btn-warning">Cancel</button>
</div>
