<div>
  <h1 class="registerTitle text-center">Register here</h1>
  <input id="registerUsername" placeholder="username" type="text" class="form-control">
  <input id="registerPassword" placeholder="password" type="password" class="form-control">
  <div class="row text-center">
    <button id="register" class="btn btn-success">Register</button>
    <button id="cancelRegister" class="btn btn-warning">Cancel</button>
  </div>
</div>
