<div>
  <h4 class="registerTitle text-center">Register here</h4>
  <input id="registerUsername" placeholder="username" type="text" class="form-control">
  <input id="registerPassword" placeholder="password" type="password" class="form-control">
  <div class="row">
    <div class="col-md-2"></div>
    <button id="register" class="btn btn-info col-md-4">Register</button>
    <button id="cancelRegister" class="btn btn-warning col-md-4">Cancel</button>
  </div>
</div>
