<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a id="getUserInfo" class="navbar-brand">{{username}}</a>
    </div>
      <div id="addMovieButton"><a class="navbar-brand">+</a></div>
      <div id="logout" class="navbar-right"><a class="navbar-brand">Logout</a></div>
  </div>
</nav>
