<div>
  <div class="userDetailsHead">
    <div class="username text-center">Welcome "{{username}}"</div>
    <div class="userId text-center">Your ID: {{id}}</div>
  </div>
  <div class="updatePasswordContainer text-center">
    <h4>Change your password here</h4>
    <h5>Write your old password:</h5>
    <input type="password" id="oldPassword" placeholder="Old password" class="form-control" />
    <h5>Now write the new one:</h5>
    <input type="password" id="updatePasswordText" placeholder="Your new password" class="form-control" />
    <h5>Confirm the new password:</h5>
    <input type="password" id="confirmPassword" placeholder="Confirm new password" class="form-control" />
      <div id="updatePassword" class="btn btn-primary">Change your password</div>
  </div>
  <div class="detailsButtonContainer">
    <button id="deleteUser" class="btn btn-danger">Delete my account</button>
    <button id="hideUserDetails" class="btn">Return to main page</button>
  </div>
</div>
