<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a id="getUserInfo" class="navbar-brand">{{username}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li id="addMovieButton"><a class="navbar-brand">+</a></li>
      <li id="logout"><a class="navbar-brand">Logout</a></li>
    </ul>
  </div>
</nav>
