<div class="row">
  <div class="col-md-4"></div>
  <div id="usernameIdWrapper" class="col-md-4">
    <div class="username">Username: {{username}}</div>
    <div class="userId">Your ID: {{userId}}</div>
    <button id="hideUserInfo" class="btn btn-warning">Hide your info</button>
  </div>
</div>
