<div>
  <div class="username">Username: {{username}}</div>
  <div class="userId">Your ID: {{id}}</div>
  <div>
    <input type="password" id="updatePasswordText" placeholder="Your new password" class="form-control" />
      <div id="updatePassword" class="btn btn-primary">Change your password</div>
  </div>
  <button id="deleteUser" class="btn btn-danger">Delete my account</button>
  <button id="hideUserDetails" class="btn btn -warning">Hide info</button>
</div>
