<div class="userInfoHead text-center">
  <div class="userName text-center">Username: "{{userName}}"</div>
  <div class="userID text-center">User ID: {{userID}}</div>
  <button id="close" class="btn btn-success">Close</button>
</div>
